/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

.button#zoekenBTN{
    -fx-background-color: #6db93f;
    -fx-text-alignment: left;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.button#zoekenBTN:hover{
    -fx-background-color: #2eb82e;
}
}
