/*
 * Empty Stylesheet file.
 */

.button#loginBtn{
    -fx-background-color: #6db93f;
    /*-fx-text-alignment: center;*/
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

.button#opslaanBTN:hover{
    -fx-background-color: #2eb82e;
}

.button#wachtwoordVergeten{
    -fx-background-color: #fc8f00;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

.button#wachtwoordVergeten:hover{
    -fx-background-color: #d81e05;
}

